body {
	font-family: "Amazon Ember",Arial,sans-serif;
	text-align: center;
	margin: 0 auto;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 5px;
	}

/* Header */
header {
	max-width: none;
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-image: url('Images/BandeHeader.avif');
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

strong {
	font-weight: normal;
}

textarea {
    resize: none;
}

#burger {
	display: flex;
	width: 100px;}

#burger_icon{
	cursor: pointer;
	padding: 10px;
}

.burger-line span {
	display: block;
  	width: 55px;
  	height: 7px;
  	background-color: forestgreen;
  	margin: 10px;
  	border-radius: 50px;
}

.menu_list{
	display: block;
}

.element_menu {
	text-align: left;
	background-color: whitesmoke;
	padding: 10px;
	margin-left: -50px;
	padding-left: 50px;
	font-weight: bold;
}

.element_menu:hover {
	background-color: hsl(0, 0%, 90%)
}

.sous_list {
	padding-top: 10px;
}

#menu {
	display: none;
	margin-top: 70px;
	position: absolute;
	width: 200px;
}

#burger:hover > nav {
	display: block;
}

#left_header, #right_header {
	display: flex;
}

#photo_header, #photo_profile {
	margin-top: 10px;
	height: 75px;
}

#photo_profile {
	border-radius: 50px;
}

#logo_deconnexion {
	margin: 20px;
	height: 50px;
}

.element_sous_list {
	padding: 5px;
	font-weight: normal;
}

/* Profil Infos Primaire */

#info_primaire {
	display: flex;
	padding: 2vw;
	padding-left: 12vw;
	align-items: center;
	background-image: url('Images/Wallpaper.png');
}

#haut_bloc_principal {
	display: flex;
}

.element_info_primaire:last-child {
	padding-left: 5vw;
}

#photo_profil {
	width: 150px;
	border-radius: 100px;
}

#bloc_logo_suivre {
	display: flex;
	align-items: center;
	margin-right: 1vw;
}

#logo_suivre {
	width: 40px;
}

#bloc_pseudo {
	display: flex;
	align-items: center;
}

#nom {
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
}

#bas_bloc_principal {
	display: flex;
	margin-top: 10px;
}

.label_logo {
	font-weight: bold;
}

.element_bas_bloc_principal {
	display: flex;
	margin-right: 2vw;
}

.bloc_logo {
	margin-right: 0.5vw;
}


/* Profil Infos Complémentaires */

#info_complementaire {
	margin-top: 5px;
	padding: 3vw;
	background-color: whitesmoke;
}

.element_info_complementaire {
	display: flex;
	justify-content: space-around;
}

.element_info_complementaire:not(:first-child) {
	padding-top: 50px;
}

.titre_info:first-child {
	padding-left: 20px;
	text-align: left;
}

#bloc_champ_a_propos {
	text-align: left;
}

#champ_a_propos {
	width: 500px;
	height: 100px;
}

.label_titre_info {
	font-weight: bold;
}

.classement {
	display: flex;
}

.label_placement {
	font-size: 30px;
}

.classement {
	justify-content: center;
}

/* Prooduit Top */

#drug_background {
	padding: 25px;
	height: 400px;
	background-image: url('Images/Fentanyl.jpeg');
	background-size: cover;
	background-position: center;
}